<nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="/cocktails"><%= image_tag "logococktail.png" %></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex justify-content-end ml-auto flex">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/cocktails/new">Add Cocktail</a>
        </div>
      </div>
</nav>